.single-course-general-information {
    display: flex;
    gap: 20px;
    padding: 20px 0;
}

.single-course-general-information__text-information {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 66%;
}

.single-course-general-information__text-information .tags-container {
    padding-left: 0;
    box-shadow: none;
}

.single-course-general-information__title {
    color: var(--course-page-general-title-text-color);
    font-size: 22px;
    text-align: center;
}

.single-course-general-information__description {
    color: var(--course-page-description-text-color);
}

.single-course-general-information__teacher-information {
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.single-course-general-information__teacher-information-photo,
.single-course-general-information__teacher-information-photo > img {
    width: 100%;
}

.single-course-general-information__teacher-information-name {
    color: #212121;
    text-align: center;
}


@media screen and (max-width: 680px) {
    .single-course-general-information {
        flex-direction: column;
    }

    .single-course-general-information__text-information,
    .single-course-general-information__teacher-information {
        width: 100%;
    }

    .single-course-general-information__teacher-information-photo {
        text-align: center;
    }

    .single-course-general-information__teacher-information-name {
        text-align: center;
    }
}