.courses-list {
    padding: 10px;
}

.courses-list__search {
    display: flex;
    gap: 10px;
}

.courses-list__search-controls {
    display: flex;
    gap: 10px;
}

.courses-list__courses {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
}

.course-list-item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 4px;
    box-shadow: var(--course-list-item-box-shadow);
    background-color: var(--course-list-item-background-color);
    transition: background-color 0.3s ease;
}

.course-list-item:hover {
    background-color: var(--course-list-item-hover-background-color);
}

.course-list-item__header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.course-list-item__header-title {
    flex: 1;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.course-list-item__header-title > a {
    display: block;
    width: 100%;
}

.course-list-item__header-teacher {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.course-list-item__description {
    background-color: var(--course-list-item-description-background-color);
    color: var(--course-list-item-description-text-color);
    padding: 10px;
    border-radius: 4px;
}

.course-list-item__task {
    background-color: var(--course-list-item-task-block-background-color);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.course-list-item__task-title {
    color: var(--course-list-item-task-title-color);
    text-align: center;
}

@media screen and (max-width: 680px) {
    .courses-list__search {
        flex-direction: column;
    }
    .courses-list__search-controls {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    .course-list-item__header {
        flex-direction: column;
        gap: 10px;
    }
    .course-list-item__header-teacher {
        max-width: 100%;
        width: 100%;
        flex-direction: row;
    }
}