.courses-list {
    padding: 10px;
}

.courses-list__search {
    display: flex;
    gap: 10px;
}

.courses-list__search-controls {
    display: flex;
    gap: 10px;
}

.courses-list__courses {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
}

.course-list-item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 4px;
    box-shadow: var(--course-list-item-box-shadow);
    background-color: var(--course-list-item-background-color);
    transition: background-color 0.3s ease;
}

.course-list-item:hover {
    background-color: var(--course-list-item-hover-background-color);
}

.course-list-item__header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.course-list-item__header-title {
    flex: 1;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.course-list-item__header-title > a {
    display: block;
    width: 100%;
}

.course-list-item__header-teacher {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}


.courses-list__filters {
    background-color: var(--secondary-text-color);
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    max-height: 400px;
    transition: all 0.3s ease;
}

.courses-list__filters.hidden {
    max-height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.courses-list__filters-row {
    display: flex;
    gap: 10px;
}

.courses-list__filters-tags {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
    margin: 10px 0 10px 0;
}

.courses-list__filters-tags-option {
    display: flex;
    gap: 5px;
}

.course-list-item__description {
    background-color: var(--course-list-item-description-background-color);
    color: var(--course-list-item-description-text-color);
    padding: 10px;
    border-radius: 4px;
}

.course-list-item__task {
    background-color: var(--course-list-item-task-block-background-color);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.course-list-item__task-title {
    color: var(--course-list-item-task-title-color);
    text-align: center;
}

.not-found-label {
    color: var(--primary-color);
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

@media screen and (max-width: 680px) {
    .courses-list__search {
        flex-direction: column;
    }
    .courses-list__search-controls {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    .course-list-item__header {
        flex-direction: column;
        gap: 10px;
    }
    .course-list-item__header-teacher {
        max-width: 100%;
        width: 100%;
        flex-direction: row;
    }
}