* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", sans-serif;
    color: var(--default-text-color);
}

html {
    /*overflow: hidden;*/
}

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
}

main {
    padding: 0 10px 220px 10px;
}

body {
    position: relative;
    background-color: var(--body-background-color);
}

.page-content-block {
    max-width: 1200px;
}

.site-main, .main-content {

}

.with-aside {
    display: flex;
    flex-direction: row;
}

.with-aside > .page-content-block {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

input[type='checkbox'] {
    zoom: 1.5;
}

input[type='text'],
input[type='number'],
input[type='email'],
input[type='tel'],
input[type='password'] {
    padding: 12px 20px;
    font-size: 1rem;
    border-width: 2px;
    border-style: solid;
    border-color: var(--input-border-color);
    text-align: center;
    outline: transparent;
    width: 100%;
    color: var(--input-text-color);
    transition: border-color 0.2s ease;
    border-radius: 4px;
    box-shadow: var(--input-box-shadow);
}

input.error {
    border-color: var(--input-error-border-color);
}

input[type='text']:focus,
input[type='number']:focus,
input[type='email']:focus,
input[type='tel']:focus,
input[type='password']:focus {
    border-color: var(--input-active-border-color);
}

@keyframes slide {
    from {
        height: 0;
    }
    to {
        height: 300px;
    }
}

/* colors */

.accent {
    background-color: var(--accent-block-background);
}

.primary {
    background-color: var(--primary-block-background);
}

.primary-dark {
    background-color: var(--primary-dark-block-background);
}

/* buttons */

.button.accent-btn {
    cursor: pointer;
}

.rhombus-button {
    display: inline-block;
    position: relative;
    padding: 15px 0;
    color: var(--sign-in-button-text-color);
    text-align: center;
}

.rhombus-button:before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: var(--sign-in-button-background-color);
    width: 100%;
    height: 100%;
    transition: .2s;
    -webkit-backface-visibility: hidden;
}

.rhombus-button.accent-btn:before {
    background: var(--sign-in-button-accent-background-color);
}

.rhombus-button:before {
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

button {
    border: none;
    padding: 5px;
    min-width: 100px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

button.secondary {
    background-color: var(--normal-button-secondary-background-color);
}

button.primary {
    background-color: var(--normal-button-primary-background-color);
}

.tags-container {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    padding: 4px;
    background-color: var(--tags-container-background-color);
    border-radius: 4px;
    box-shadow: var(--tags-container-shadow);
}

.tag {
    padding: 3px;
    border-radius: 4px;
    background-color: var(--single-tag-background-color);
    color: var(--default-text-color);
    font-size: 12px;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

.progress {
    margin: 10px 0;
    border-radius: 8px;
    height: 24px;
    position: relative;
    padding: 2px;
}

.progress-bar {
    background-color: var(--progress-bar-background-color);
    box-shadow: var(--progress-bar-box-shadow);
    border-radius: 8px;
    height: 100%;
    min-width: 1%;
}

.progress-label {
    position: absolute;
    width: 100%;
    color: var(--progress-bar-label-color);
    text-align: center;
    bottom: 0;
    font-size: 14px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}

.pagination {
    display: flex;
    gap: 10px;
}

.pagination > button {
    min-width: 40px;
    font-weight: bold;
}

.pagination__page-label {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pagination__page-label,
.pagination__page-label > span {
    color: var(--pagination-page-label-text-color);
    font-weight: bold;
}

button {
    transition: box-shadow 0.3s ease;
}

button:disabled {
    cursor: default;
}

.tag:hover {
    box-shadow: var(--single-tag-hover-box-shadow);
}

button:not(:disabled):hover {
    box-shadow: var(--normal-button-hover-box-shadow);
}

button:active {
    box-shadow: var(--normal-button-active-box-shadow);
}

* {
    font-size: 16px;
    line-height: 20px;
}

h1 {
    font-size: 24px;
    line-height: 32px;
}

h2 {
    font-size: 20px;
    line-height: 26px;
}

h3 {
    font-size: 18px;
    line-height: 22px;
}


@media screen and (max-width: 1100px) {
    * {
        font-size: 14px;
        line-height: 18px;
    }

    h1 {
        font-size: 22px;
        line-height: 28px;
    }

    h2 {
        font-size: 18px;
        line-height: 24px;
    }

    h3 {
        font-size: 16px;
        line-height: 20px;
    }
}

@media screen and (max-width: 680px) {
    * {
        font-size: 12px;
        line-height: 16px;
    }

    h1 {
        font-size: 20px;
        line-height: 28px;
    }

    h2 {
        font-size: 16px;
        line-height: 20px;
    }

    h3 {
        font-size: 14px;
        line-height: 18px;
    }

    .pagination {
        justify-content: center;
    }

    .rhombus-button:before {
        -webkit-transform: skewX(0deg);
        -moz-transform: skewX(0deg);
        -ms-transform: skewX(0deg);
        transform: skewX(0deg);
    }
}


