.site-header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    position: sticky;
    top: 0;
    box-shadow: var(--header-box-shadow);
}

.site-header__controls {
    display: flex;
}

.header-left-controls {

}

.header-right-controls {

}

.site-header__single-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.link-header-control {
    height: 100%;
    position: relative;
    padding: 0 20px;
}

.link-header-control:hover {
    background-color: var(--header-link-control-hover-background-color);
    transition: background-color 0.3s ease;
}

.link-header-control > a {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.header-left-controls > .link-header-control:after {
    right: 0;
}

.header-right-controls > .link-header-control:before {
    left: 0;
}

.header-left-controls > .link-header-control:after,
.header-right-controls > .link-header-control:before {
    content:"";
    background: var(--header-link-control-divider-color);
    position: absolute;

    width: 1px;
    bottom: 8px;
    height: calc(100% - 16px);
    opacity: 1;
    transition: opacity 0.3s ease;
}

.link-header-control:hover:after,
.link-header-control.accent:after,
.link-header-control.accent:before,
.link-header-control.accent:before {
    opacity: 0;
}

.site-header__menu-btn {
    padding: 10px 20px;
    cursor: pointer;
}

.summary-information {
    width: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 0;
}

.summary-information .tags-container {
    box-shadow: none;
}

.summary-information.opened {
    width: 400px;
    gap: 10px;
    padding: 10px;
    max-height: inherit;
}

.with-aside > .page-content-block {
    margin: 0 auto;
}

.summary-information__item {
    padding: 6px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--primary-color);
    box-shadow: var(--summary-information-item-box-shadow);
}

.summary-information__item:hover {
    background-color: var(--accent-color);
}

.summary-information__item-title {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.summary-information__item-content,
.summary-information__item-content > p {
    background-color: var(--summary-item-content-background-color);
    color: var(--summary-item-content-text-color);
    padding: 5px;
}

.centered {
    text-align: center;
}

.divided {
    border-bottom: 1px solid var(--summary-item-inner-content-divider-color);
}

.tags-container {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    padding: 5px;
}


