.tasks-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
}

.course-single-task__title {
    color: var(--single-task-title-color);
    font-weight: bold;
}

.course-single-task {
    border-radius: 4px;
    padding: 10px;
    box-shadow: var(--single-task-item-box-shadow);
}