.sign-in {
    min-width: 300px;
    margin: 100px auto 100px auto;
    max-width: 40%;
}

.sign-in {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form.login .sign-in__inputs-wrapper {
    gap: 3px;
}

form.register .sign-in__inputs-wrapper {
    gap: 10px;
}

.sign-in__inputs-wrapper {
    display: flex;
    flex-direction: column;
    transition: gap 0.3s ease;
}

.sign-in__btns-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0 10px;
}

.sign-in__submit-btn,
.sign-in__register-btn {
    width: 50%;
}

.sign-in__register-btn {
    min-width: 190px;
}

.button.dominant {
    width: 66%;
}

.button.dominant:not(.accent-btn) {
    opacity: 0.7;
    cursor: not-allowed;
}

.button.subordinate {
    width: 33%;
    cursor: pointer;
}

.button.dominant.accent-btn:hover:before {
    box-shadow: var(--sign-in-button-accent-hover-box-shadow);
}

.button.dominant.accent-btn:active:before {
    background: var(--sign-in-button-accent-active-background);
}

.button.subordinate:hover:before {
    box-shadow: var(--sign-in-button-subordinate-hover-box-shadow);
}

.button.subordinate:active:before {
    background: var(--sign-in-button-subordinate-active-background);
}

.sign-in_error {
    color: var(--sign-in-error-color);
    text-align: center;
    min-height: 18px;
    transition: min-height 0.3s ease;
}

.sign-in_error.hidden {
    min-height: 0;
}

.field-wrapper {
    height: 46px;
    transition: height 0.3s ease;
    display: flex;
}

.field-wrapper.hidden {
    height: 0;
    overflow: hidden;
}

.field-error,
.submit-code-wrapper {
    padding-left: 10px;
}

.field-error {
    color: var(--sign-in-error-color);
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: width 0.3s ease;
    font-size: 14px;
}

.submit-code-wrapper {
    width: 40%;
}

.field-error.hidden,
.submit-code-wrapper.hidden{
    width: 0;
    overflow: hidden;
    padding-left: 0;
}

@media screen and (max-width: 680px) {
    .sign-in__btns-container {
        justify-content: inherit;
        flex-direction: column;
        padding: 0;
    }

    .sign-in__submit-btn,
    .sign-in__register-btn {
        width: 100%;
    }

    .button.dominant {
        width: 100%;
    }

    .button.subordinate {
        width: 100%;
        cursor: pointer;
        padding: 6px;
    }
}

